<style>
  .btn-search{
    background-color: #6a489d;
    color: white;
    border-radius: 25px;
    padding: 0.5rem 1rem 0.5rem 1rem;
  
  }
  .btn-search:hover{
    background-color: #6a489d;
    color: white;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input{
    padding: 0.5rem 3rem 0.5rem 1rem;
    border-radius: 25px;
  }
  
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-mountain-sun" style="color: #6a489d;"></i>  EliteStay</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      
      <div class="navbar-nav ms-auto">
        <div class="dropdown ms-auto">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Country
          </button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/listings?search=India">India</a></li>
              <li><a class="dropdown-item" href="/listings?search=Italy">Italy</a></li>
              <li><a class="dropdown-item" href="/listings?search=France">France</a></li>
              <li><a class="dropdown-item" href="/listings?search=Spain">Spain</a></li>
              <li><a class="dropdown-item" href="/listings?search=Thailand">Thailand</a></li>
              <li><a class="dropdown-item" href="/listings?search=Japan">Japan</a></li>
              <li><a class="dropdown-item" href="/listings?search=Indonesia">Indonesia</a></li>
             
              <li><a class="dropdown-item" href="/listings?search=Switzerland">Switzerland</a></li>
              <li><a class="dropdown-item" href="/listings?search=Maldives">Maldives</a></li>
              <li><a class="dropdown-item" href="/listings?search=United Arab Emirates">United Arab Emirates</a></li>
              <li><a class="dropdown-item" href="/listings?search=Bali">Bali</a></li>
              <li><a class="dropdown-item" href="/listings?search=Vietnam">Vietnam</a></li>
              
              <li><a class="dropdown-item" href="/listings?search=Australia">Australia</a></li>
              <li><a class="dropdown-item" href="/listings?search=New Zealand">New Zealand</a></li>
              
              <li><a class="dropdown-item" href="/listings?search=South Africa">South Africa</a></li>
              <li><a class="dropdown-item" href="/listings?search=Brazil">Brazil</a></li>
              <li><a class="dropdown-item" href="/listings?search=Egypt">Egypt</a></li>
              <li><a class="dropdown-item" href="/listings?search=Sri Lanka">Sri Lanka</a></li>
              <li><a class="dropdown-item" href="/listings?search=United States">United States</a></li>
              <li><a class="dropdown-item" href="/listings?search=Canada">Canada</a></li>
              <li><a class="dropdown-item" href="/listings?search=Iceland">Iceland</a></li>
              <li><a class="dropdown-item" href="/listings?search=Austria">Austria</a></li>
              
              <li><a class="dropdown-item" href="/listings?search=Singapore">Singapore</a></li>
          </ul>
        </div>
        <form method="GET" class="d-flex" role="search">
          <input class="search-input form-control me-2" type="search" name="search" placeholder="Search destination" aria-label="Search">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search </i></button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add your EliteStay</a>
        <% if(!currUser){ %>

        <a class="nav-link " href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Log in </b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>